* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.category-container,
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.category-container .img-wrapper,
.product-container .img-wrapper {
  width: 200px;
}
.category-container .img-wrapper img,
.product-container .img-wrapper img {
  width: 100%;
}
