/*learning preproc less*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #ff0000;
  }
  body header,
  body footer {
    background-color: #ffff00;
  }
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
header,
footer {
  height: 100px;
  background-color: green;
}
header.header-container {
  border: 10px solid blue;
}
header navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
header navbar navlink {
  border: 1px solid #ffff00;
}
header navbar navlink a {
  margin-right: 10px;
  font-size: 25px;
}
navlink a:hover {
  color: #ffff00;
  font-size: 16px;
}
navlink a:hover ~ a {
  color: aqua;
}
footer {
  border: 10px solid #ffff00;
}
.main-content {
  display: flex;
  justify-content: end;
  font-size: 25px;
  color: #8c8c8c;
  border: 1px solid #ffff00;
}
.main-content + div {
  font-size: 15px;
  color: #ff0000;
}
