@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.trans(@code){
    transition: all @code ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    --body_color: #e4e9f7;
    --sidebar_color:#fff;
    --primary_color:#0cc7e9;
    --primary_color_light:#f6f5ff;
    --toogle_color:#ddd;
    --text-color:#111111;
    --header_footer_color:#e3e3e0;
    .trans(.4s);
}
body{
    &.dark{
        --body_color: #18191a;
        --sidebar_color:#242526;
        --primary_color:#e10e2e;
        --primary_color_light:#3a3b3c;
        --toogle_color:#ddd;
        --text-color:#fff;
    }
}
body{
    background-color: var(--body_color);
    height: 100%;
}
.hidden{
    display:none;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar_color);
    .trans(.4s);
    + .layout-wrapper{
        width: calc(100% - 250px);
        margin-left: auto;
        .trans(.3s)
    }
    &.close{
        width: 88px;
        + .layout-wrapper{
            width:calc(100% - 88px);
            margin-left: auto;
            .trans(.3s)
        }
        .switch-wrapper{
            .trans(.3s);
        }
        .text{
            display: none !important;
            .trans(.3s)
        }
        .sidebar-header{
            .toogle{
                right:-30px;
            }
        }
    }
    .sidebar-header{
        position: relative;
        .toogle{
            position: absolute;
            top:50%;
            right: -25px;
            transform: translateY(-50%);
            height: 25px;
            width: 25px;
            background-color: var(--primary_color);
            display: flex;
            align-items:center;
            justify-content: center;
            border-radius: 50%;
            color: var(--toogle_color);
            cursor: pointer;

        }
    }
    .image-text{
        display: flex;
        align-items: center;
        gap:5px;
        .image{
            min-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary_color);
            box-sizing: content-box;
            border-top: 8px solid var(--primary_color);
            border-bottom: 8px solid var(--primary_color);
            border-radius: 7px;
            img{
                width: 40px;
                border-radius: 6px;
                filter: invert(100%);
            }
        }
        .header-text{
            display: flex;
            flex-direction: column;
            .name{
                font-weight: 600;
                color: var(--text-color);
            }
            .profession{
                margin-top: -2px;
                color: var(--text-color);
            }
        }
    }
    .search-box{
        background-color: var(--primary_color_light);
        border-radius: 6px;
        input{
            width: 100%;
            height: 100%;
            background-color: var(--primary_color_light);
            outline: none;
            border: none;
            border-radius: 6px;
        }
    }
    .menu-bar{
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .text{
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
    }
    li{
        height: 50px;
        margin-top:10px;
        list-style: none;
        display: flex;
        align-items: center;
        .nav-link{
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            border-radius: 6px;
            width: 100%;
            cursor: pointer;
            .trans(.3s);
            .icon, .text{
                color:var(--text-color)
            }
            &:hover{
                background-color: var(--primary_color);
                .icon, .text{
                    color:var(--toogle_color);
                }
            }
        }
        .icon{
            font-size: 20px;
            min-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon, .text{
            color:--(text-color);
            .trans(.3s);
        }
    }
    .bottom-menu{
        .mode{
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: var(--primary_color_light);
            border-radius: 6px;
            .trans(.3s);
            .toogle-wrapper{
                min-width:60px;
            }
        }
        .switch-wrapper{
            min-width:60px;
            display: flex;
            justify-content: center;
            .switch{
                background-color: var(--toogle_color);
                display: inline-block;
                width: 44px;
                height: 22px;
                border-radius: 10px;
                cursor: pointer;
                &::before{  
                    content: '';
                    position:relative;
                    display: inline-block;
                    top:1px;
                    left: 5px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: var(--primary_color_light);
                    .trans(.3s)
    
                }
            }
        }
    }

}
.layout-wrapper{
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    header, footer{
        height: 100px;
        background-color: var(--header_footer_color);
    }
    main{
        flex: 1 1 auto;
    }
}
body{
    &.dark{
        li{
            .icon, .text{
                color: var(--toogle_color);
            }
        }
        .bottom-menu{
            .switch-wrapper{
                .switch{
                    &::before{
                        left:24px;
                    }
                }
            }

        }
    }
}
